* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #d5d7df;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
}